<div fxLayoutAlign="center center" class="body">
  <mat-card fxFlex="40" fxFlex.lt-md="80" fxFlex.lt-sm="95" fxLayoutAlign="center center">
    <form fxFill [formGroup]="formul" (ngSubmit)="registro()">
      <div fxLayout="column" fxFlexFill fxLayoutGap="16px" fxLayoutAlign="center center">
        <h1 >Registro</h1>
        <mat-form-field fxFill>
          <input
            matInput
            [class.is-invalid]="emailInvalido"
            type="email"
            formControlName="email"
            placeholder="Email"
          />
          <mat-error *ngIf="emailInvalido"> Email válido requerido </mat-error>
        </mat-form-field>
        <mat-form-field fxFill>
          <input
            matInput
            [class.is-invalid]="nameInvalido"
            type="text"
            formControlName="name"
            placeholder="Nombre"
            ngModel
          />
          <mat-error *ngIf="nameInvalido"> Nombre requerido </mat-error>
        </mat-form-field>
        <mat-form-field fxFill>
          <input
            matInput
            [class.is-invalid]="firstnameInvalido"
            type="text"
            formControlName="firstname"
            placeholder="Apellido Paterno"
            ngModel
          />
          <mat-error *ngIf="firstnameInvalido">
            Apellido paterno requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFill>
          <input
            matInput
            type="text"
            formControlName="lastname"
            placeholder="Apellido Materno"
            ngModel
          />
        </mat-form-field>
        <mat-form-field fxFill>
          <input
            matInput
            [class.is-invalid]="passwordInvalido"
            [type]="hide1 ? 'password' : 'text'"
            formControlName="password"
            placeholder="Contraseña"
            ngModel
          />
          <mat-icon matSuffix (click)="hide1 = !hide1">{{
            hide1 ? "visibility" : "visibility_off"
          }}</mat-icon>
          <mat-error *ngIf="passwordInvalido">
            La contraseña es requerida
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFill>
          <input
            matInput
            [class.is-invalid]="passwordconfirmInvalido"
            [type]="hide2 ? 'password' : 'text'"
            formControlName="passwordconfirm"
            placeholder="Confirmar contraseña"
            ngModel
          />
          <mat-icon matSuffix (click)="hide2 = !hide2">{{
            hide2 ? "visibility" : "visibility_off"
          }}</mat-icon>
          <mat-error *ngIf="!formul.passwordconfirm?.errors?.confirmedValidator">
            La confirmación es requerida y debe ser igual a la contraseña
          </mat-error>
        </mat-form-field>
        <button [disabled]="formul.invalid" mat-raised-button color="accent" type="submit">
          Registrarse
        </button>
        <a style="padding: 5px" href="http://localhost:4200/login"
          >Iniciar sesión</a
        >
      </div>
    </form>
  </mat-card>
</div>
